<:Title>
  Reset Password

<:Body>
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="span4 offset4 well">
        <legend>Reset Your Password</legend>

        <form e-submit="reset_password">
          {{ if errors.present? }}
            <div class="alert alert-danger">{{ errors }}</div>
          {{ end }}

          <div class="form-group">
            <label class="control-label">New Password</label>
            <:fields:text type="password" label="false" value="{{ user.password }}" />
          </div>

          <button class="btn btn-info btn-block">Reset Password</button>
        </form>
      </div>
    </div>
  </div>

